body {
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}
.resume__header {
  background-color: #fff;
  padding: 10px 20px;
  @media screen and (min-width: 500px) {
    display: none;
  }
}
.resume__nav {
  display: flex;
  align-items: center;
}
.resume__nav-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.resume__nav-item {
  &:not(:first-child) {
    margin-left: 5px;
  }
}
.resume__burger {
  width: 30px;
  height: 30px;
  fill: #25262e;
}
.resume__nav-link {
  color: #000;
  padding: 5px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 18px;
  &:hover {
    color: #fff;
    background-color: #000;
  }
  &:focus {
    color: #fff;
    background-color: #000;
  }
}
.main {
  background-color: #e2e2e2;
}
.container {
  width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 499px) {
    width: 350px;
  }
}
.resume__box {
  display: flex;
  margin: 0 auto;
  @media screen and (max-width: 499px) {
    display: block;
  }
}
.resume__aside {
  width: 400px;
  background-color: #25262e;
  padding: 50px 30px;
  color: #fff;
  @media screen and (max-width: 499px) {
    display: none;
  }
}
.resume__primary-title {
  font-size: 40px;
  line-height: 50px;
}
.resume__work-position {
  margin-top: 25px;
  font-size: 25px;
  line-height: 32px;
}
.resume__img-box {
  margin-top: 30px;
}
.resume__contacts {
  margin-top: 30px;
}
.resume__aside-title {
  position: relative;
  font-size: 20px;
  line-height: 22px;
}
.resume__line {
  position: absolute;
  right: 3px;
  top: 50%;
  bottom: 50%;
  display: block;
  width: 135px;
  height: 2px;
  background-color: #fff;
}
.resume__contact-list {
  margin-top: 20px;
}
.resume__contact-item {
  &:not(:first-child) {
    margin-top: 15px;
  }
}
.resume__contact-title {
  font-size: 16px;
  line-height: 20px;
}
.resume__contact-description {
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
}
.resume__social-list {
  margin-top: 10px;
}
.resume__social-item {
  &:not(:first-child) {
    margin-top: 5px;
  }
}
.resume__social-link {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  &:hover {
    background-color: orange;
  }
  &:focus {
    background-color: orange;
  }
}

.resume__languages {
  margin-top: 30px;
}
.resume__languages-list {
  margin-top: 20px;
}
.resume__languages-item {
  &:not(:first-child) {
    margin-top: 5px;
  }
}
.resume_languages-desc {
  font-size: 14px;
  line-height: 18px;
}
.resume__tech-skills {
  margin-top: 30px;
}
.resume__tech-skills-list {
  margin-top: 20px;
}
.resume__tech-skills-item {
  &:not(:first-child) {
    margin-top: 5px;
  }
}
.resume__tech-skills-desc {
  font-size: 14px;
  line-height: 18px;
}

.resume__information {
  background-color: #fff;
  padding: 110px 40px;
  @media screen and (max-width: 499px) {
    padding: 50px 20px;
  }
}
.resume__information-title {
  font-size: 36px;
  line-height: 42px;
  @media screen and (max-width: 499px) {
    font-size: 24px;
    line-height: 28px;
  }
}
.resume__information-desc {
  margin-top: 20px;
  font-size: 22px;
  line-height: 32px;
  @media screen and (max-width: 499px) {
    font-size: 18px;
    line-height: 22px;
  }
}
.resume__project {
  margin-top: 30px;
}
.resume__work {
  margin-top: 30px;
}
.resume__education {
  margin-top: 30px;
}
